<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>New Film | Maquindi Films</title>

	<!-- Custom Css -->
	<link rel="stylesheet" href="./styles/main.css">
	<link rel="stylesheet" href="./styles/newfilm.css">
	
</head>
<body>
	<div class="img1" id="img1" background="./photos/w1@small.jpg"></div>
	<div class="img2" id="img2" background="./photos/w1@small.jpg"></div>
	
	<main id="app">
		<div class="wrapper">
			<div class="box a"><a href="/"><div>Home</div></a></div>

			<div v-if="username" class="box c active">
				<a href="#"><div>Add New</div></a>
			</div>
			
			<div class="box b">
				<a href="/login">
					<div v-if="!username">Login</div>
					<div v-else>{{ username }}</div>
				</a>
			</div>
		</div>

		<h1>Add new film</h1>
		
		<div class="container">
			<p>Cerca nuovi film da aggiungere</p>
			
			<div class="row search">
				<input type="text" v-model="search">
				<button @click="searchFilm">Cerca</button>
			</div>

			<h2 v-if="tmdbResults.length > 0">Risultati</h2>

			<div class="results">
				<div class="film" v-for="film in tmdbResults">
					<img :src="'http://image.tmdb.org/t/p/w200' + film.poster_path" alt="">
					<h2>{{film.title}}</h2>
					<p>{{film.overview}}</p>
				</div>
			</div>

		</div>
	</main>

	<!-- VueJS & Axios -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- Custom JS -->
	<script src="./addNew.js"></script>
	<script src="./sfondo.js"></script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</body>
</html>
