<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" type="image/png" href="/photos/Icon/Icon-32x.png">

	<title>Home | Maquindi Film</title>
	
	<!-- Custom Css -->
	<link rel="stylesheet" href="./styles/main.css">
	<link rel="stylesheet" href="./styles/films.css">
</head>

<body>
	<div class="img1" id="img1" background="./photos/w1@small.jpg"></div>
	<div class="img2" id="img2" background="./photos/w2@small.jpg"></div>

	<main id="app" class="column">

		<!-- Nav Bar -->
		<div class="nav row">
			<!-- Home -->
			<div class="nav-item active">
				<a href="#"><div>Home</div></a>
			</div>
			<!-- Add New -->
			<div class="nav-item" v-if="username">
				<a href="/addfilm"><div>Add New</div></a>
			</div>
			<!-- Login -->
			<div class="nav-item">
				<a href="/login">
					<div v-if="!username">Login</div>
					<div v-else>{{ username }}</div>
				</a>
			</div>
		</div>

		<!-- Sezione | Admin -->
		<section class="admin" v-if="isadm">
			<h2>Sezione Admin</h2>
			<div class="row">
				<button @click="newPoll">New Poll</button>
				<button @click="closePoll">Close Poll</button>
			</div>
		</section>

		<!-- Sezione | Winner -->
		<section class="winner" v-if="nextUp !== null">
			<h1>Vincitore</h1>
			<div class="film-list">
				<div class="film simple">
					<a :href="'https://www.imdb.com/title/' + films[nextUp].link + '/'" target="_blank">
						<img :src="'http://image.tmdb.org/t/p/w200' + films[nextUp].image" alt="" :title="films[nextUp].title">
					</a>
					<h3 class="title">{{films[nextUp].title}}</h3>
				</div>
			</div>
		</section>
		
		<!-- Sezione | Voting -->
		<section class="voting" v-if="sortedFilmsToVote.length > 0">
			<h1>Film da votare</h1>
			<div class="film-list">
				<div class="film votable" v-for="film in sortedFilmsToVote">
					<a :href="'https://www.imdb.com/title/' + film.link + '/'" target="_blank">
						<img :src="'http://image.tmdb.org/t/p/w200' + film.image" alt="" :title="film.title">
					</a>	
					<h3 class="title">{{film.title}}</h3>
					<div class="votes">{{film.votedBy.length}} {{film.votedBy.length == 1 ? 'voto' : 'voti'}} per ora</div>
					<div class="voting" v-if="username">
						<button v-if="!film.votedBy.includes(username)" @click="votafilm(film)">Vota</button>
						<button v-else @click="unvotafilm(film)">Unvota</button>
					</div>
				</div>
			</div>
		</section>

		<!-- Sezione | Film lists -->
		<section class="lists">
			<!-- Film da vedere -->
			<h2>Film in lista</h2>
			<div class="film-list">
				<div class="film simple" v-for="film in sortedFilmsNotSeen">
					<img :src="'http://image.tmdb.org/t/p/w200' + film.image" alt="" :title="film.title">
					<h3 class="title">{{film.title}}</h3>
				</div>
			</div>
	
			<div class="divider"></div>

			<!-- Film già visti -->
			<h2>Film già visti</h2>
			<div class="film-list">
				<div class="film simple" v-for="film in sortedFilmsSeen">
					<img :src="'http://image.tmdb.org/t/p/w200' + film.image" alt="" :title="film.title">
					<h3 class="title">{{film.title}}</h3>
				</div>
			</div>
		</section>
	</main>


	<!-- VueJS & Axios -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- Actions -->
	<script src="./actions.js"></script>
	<!-- Custom JS -->
	<script src="./index.js"></script>
	<script src="./sfondo.js"></script>
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</body>
</html>
