<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login | Maquindi Films</title>

	<!-- Custom Css -->
	<link rel="stylesheet" href="./styles/main.css">
	<link rel="stylesheet" href="./styles/login.css">
	
</head>
<body>
	<div class="img1" id="img1" background="./photos/w1@small.jpg"></div>
	<div class="img2" id="img2" background="./photos/w1@small.jpg"></div>
	
	<main id="app">
		<div class="wrapper">
			<div class="box a"><a href="/"><div>Home</div></a></div>

			<div v-if="username" class="box c"><a href="/addfilm"><div>Add New</div></a></div>
			
			<div class="box b active">
				<a href="#">
					<div v-if="!username">Login</div>
					<div v-else>{{ username }}</div>
				</a>
			</div>
		</div>
		
		<div class="login-page">
			<div class="form">
				<div class="login-form">
					
					<div class="row">
						<input type="text" placeholder="username" v-if="!username" v-model="fieldUsername"/>
					</div>

					<div class="row">
						<button v-if="!username" @click="log_in">login</button>
						<button v-else @click="log_out">logout</button>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- VueJS & Axios -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- Custom JS -->
	<script src="./login.js"></script>
	<script src="./sfondo.js"></script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</body>
</html>
