
/* ------------- */

section.admin .row {
	margin-top: 2em;
}

/* ------------- */

.film-list {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 3em;
	width: 100%;
}

.film {
	display: grid;

	width: 100%;
	margin-bottom: 10px;
}

.film.simple {
	grid-template-rows: 100px;
	grid-template-columns: 80px auto;
	grid-template-areas: 
		"img title";
}

.film.votable {
	grid-template-rows: 50px 20px 50px;
	grid-template-columns: 80px 5px auto 120px;
	grid-template-areas: 
		"img . title buttons"
		"img . votes ."
		"img . . .";
}

.film a {
	grid-area: img;
	width: 100%;
	height: 100%;
}

.film img {
	height: 100%;
}

.film .title {
	grid-area: title;
	text-align: left !important;
}

.film .votes {
	grid-area: votes;
	font-size: 1em;
}

.film .voting {
	grid-area: buttons;
	justify-self: end;
}

section.admin > .row {
	width: 100%;
}

.divider {
	height: 50px;
	width: calc(100% + 100px);
	background-color: #FFFFFF20;
	margin: 3em 0;
}

@media only screen and (max-width: 768px) {


	.film.votable {
		grid-template-rows: auto 30px auto 45px 5px;
		grid-template-columns: 100px 10px auto;
		grid-template-areas: 
			"img . title"
			"img . votes"
			"img . ."
			"img . buttons"
			"img . .";
	}

	.film.votable img {
		width: 100%;
		height: unset;
	}

	.film .voting {
		justify-self: end;
	}

	.divider {
		width: calc(100% + 20px);
	}
}

