/* login stuff */
/* .login-page {
	padding: 100px 0 0 0;
} */

.login-form {
	margin-top: 100px;
	padding: 50px;
	background: rgba(255, 255, 255, 0.5);
	/* max-width: 360px; */
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

/* 
spostato in main.css

.form input {
	outline: 0;
	background: #F7F4EE;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	text-transform: uppercase;
	outline: 0;
	background: #44355B;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
	background: #422174;
} */