* {
	box-sizing: border-box;
}

html, body {
	font-family: Menlo, Helvetica, sans-serif;
	height: 100%;
	margin: 0px;
	padding: 10px;
	font-size: 13px;
	color: #221E22;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper {
	background-color: rgba(0, 0, 0, 0);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 0px;
	justify-items: stretch;
	grid-template-areas: 
		"a c b";

	width: 100%;
}

.img1 {
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	
	-webkit-transition: background-image 4s ease-in-out;
	transition: background-image 4s ease-in-out;
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-filter: blur(5px); /* Safari */
	filter: blur(5px);
	-webkit-filter: grayscale(50%); /* Safari */
    filter: grayscale(50%);
	z-index: -100;
}

.box {
	background-color: #EE562285;
	text-align: center;
}

.box a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 5px 0;
}

.wrapper .active {
	background-color: #ECA72C85;
}

.a { grid-area: a; }

.b { grid-area: b; }

.c { grid-area: c; }

a:link, a:visited {
	text-decoration: none;
	color: #221E22;
}